.article-page {
	.wrapper-768 {
		position: relative;
		padding-top: 100px;
	}

	.user-photo {
		position: absolute;
		top: 0;
		left: 0;
		transform: translateY(-50%);
		border: 1px solid #e1e1e1;

		img {
			vertical-align: middle;
		}
	}


	.article-title {
		font-weight: 600;
		font-size: 24px;
		margin-bottom: 30px;
	}

	.article-content {
		p {
			margin-bottom: 20px;
			font-size: 14px;
		}
	}
}