.group-page-sidebar {
	float: left;
	width: 260px;

	ul {
		padding-left: 15px;
	}

	li {
		margin-bottom: 10px;
	}

	i {
		margin-right: 10px;
	}

	span {
		font-size: 14px;
	}
}

.group-page-main {
	float: left;
	width: calc(100% - 260px);
}