header {
	background-color: #17252a;
	color: white;
	margin-bottom: 30px;

	.wrapper {
		display: flex;
		justify-content: space-between;
		align-items: center;

		&:after {
			display: none;
		}
	}

	.logo {
		font-weight: bold;
		font-size: 30px;
		float: left;
	}

	.header-panel {
		float: right;
	}

	a, i {
		color: white;
	}

	.username {
		font-size: 15px;
		font-weight: 600;
		margin-right: 15px;
	}
}