.messages-sidebar {
	float: left;
	width: 280px;
	min-height: 500px;
	border-right: 1px solid #e1e1e1;
	border-left: 1px solid #e1e1e1;

	h3 {
		font-size: 16px;
		font-weight: 600;
		margin-bottom: 15px;
		padding-left: 15px;
	}

	.message-preview {
		border-bottom: 1px solid #e1e1e1;
		padding-left: 15px;
		padding-bottom: 10px;
	}
}

.message-preview {
	.avatar {
		float: left;
		width: 60px;
	}

	.message-content {
		float: left;
		width: calc(100% - 60px);
	}

	.sender {
		font-size: 14px;
		font-weight: 600;
		margin-bottom: 7px;
	}

	.message-text {
		font-size: 12px;
	}
}

.messages-box {
	padding-left: 20px;
	float: left;
	width: calc(100% - 280px);
	height: 500px;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	border-right: 1px solid #e1e1e1;
	padding-bottom: 15px;
	padding-right: 15px;
	input {
		width: 100%;
		height: 40px;
		padding-left: 15px;
		margin-top: 15px;
	}
}
