.profile-sidebar {
	float: left;
	width: 260px;
}

.profile-main {
	float: left;
	width: calc(100% - 260px);
	padding-left: 30px;

	.username {
		font-size: 16px;
		font-weight: bold;
		margin-bottom: 10px;
	}

	.tabs-list {
		display: flex;
		border-top: 1px solid #1a2528;
		border-left: 1px solid #1a2528;
		border-right: 1px solid #1a2528;

		li {
			flex: 1;
			border-right: 1px solid #1a2528;
			text-align: center;
			font-size: 14px;
			padding: 8px;
			display: flex;
			justify-content: center;
			align-items: center;
			background-color: #2b7a77;
			color: white;
			cursor: pointer;
			transition: 0.1s all;

			&:last-child {
				border-right: 0px solid white;
			}

			&.active {
				background-color: #1a2528;
				font-weight: bold;
			}
		}
	}

	.user-description-list {
		font-size: 14px;

		dt {
			font-weight: bold;
		}

		dd {
			margin-bottom: 10px;
		}
	}

	.tab-content {
		padding-top: 20px;
	}

	.bio-tab {
		padding: 15px;
		background-color: #e1e1e1;
		font-style: italic;
		font-size: 14px
	}

	.blog-tab {
		li {
			margin-bottom: 25px;
			font-size: 14px;
			span {
				display: block;
			}

			.description {
				margin-bottom: 5px;
			}

			.read-more {
				text-decoration: underline;
				font-weight: bold;
			}
		}
	}
}

.profile-sidebar-actions {
	padding-left: 15px;

	i {
		margin-right: 10px;
	}

	span {
		font-size: 14px;
	}
}