.registration-page {
	max-width: 550px;
	margin: auto;
	font-size: 15px;

	h3 {
		font-weight: 600;
		margin-bottom: 20px;
	}

	input {
		height: 35px;
		display: block;
		width: 100%;
		border: 1px solid black;
		margin-bottom: 20px;
		padding-left: 10px;
	}
}