body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li,
dl {
	padding: 0;
	margin: 0;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
	color: black;
}

* {
	box-sizing: border-box;
	outline: 0px solid transparent;
}

body {
	font-family: 'Open Sans', sans-serif;
}

img {
	max-width: 100%;
}

.wrapper {
	max-width: 960px;
	margin: auto;
	padding: 0 15px;

	&:after {
		content: '';
		clear: both;
		display: block;
	}
}

.wrapper-768 {
	max-width: 768px;
	margin: auto;
	padding: 0 15px;

	&:after {
		content: '';
		clear: both;
		display: block;
	}
}

.cf {
	&:after {
		content: '';
		clear: both;
		display: block;
	}
}




